{{ define "main" }}
<section class="gigs-list">
    <h1>{{ .Title }}</h1>
    
    {{ $gigs := where .Pages "Kind" "page" }}
    {{ $sortedGigs := sort $gigs "Date" "desc" }}
    {{ if $sortedGigs }}
        <ul class="gigs">
        {{ range $sortedGigs }}
            <li>
                <a href="{{ .Permalink }}">
                    <span class="gig-date">{{ .Date | dateFormat "2006-01-02" }}</span>
                    <span class="gig-venue">{{ .Params.venue }}</span>
                    <span class="gig-location">{{ .Params.location }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
    {{ else }}
        <p>No gigs scheduled yet.</p>
    {{ end }}
</section>
{{ end }}
