{{ define "main" }}
<section class="gigs-list">
    <h1>{{ .Title }}</h1>
    {{ if .Content }}<div class="intro">{{ .Content }}</div>{{ end }}
    
    {{ $gigs := where .Pages "Kind" "page" }}
    {{ $sortedGigs := sort $gigs "Date" "desc" }}
    {{ if $sortedGigs }}
        {{ range $sortedGigs.GroupByDate "2006" }}
        <section class="year-group">
            <h2>{{ .Key }}</h2>
            <ul class="gigs">
            {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">
                        {{ .Date | dateFormat "Jan 02" }}: {{ .Title }} @ {{ .Params.venue }}, {{ .Params.location }}
                    </a>
                </li>
            {{ end }}
            </ul>
        </section>
        {{ end }}
    {{ else }}
        <p>No gigs scheduled yet.</p>
    {{ end }}
</section>
{{ end }}
