{{ if or .Description .Params.description }}
<meta property="og:description" content="{{ .Description | default .Params.description }}">
{{ end }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}">
<meta property="og:image" content="{{ .Site.BaseURL }}obscvrat-logo-static.png">
<meta property="og:image:width" content="756">
<meta property="og:image:height" content="306">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .Site.BaseURL }}obscvrat-logo-static.png">
