{{- /* Extract version from static/changelog.txt */ -}}
{{- $changelog := "" -}}
{{- with resources.Get "changelog.txt" -}}
    {{- $changelog = .Content -}}
{{- else -}}
    {{- with os.ReadFile "static/changelog.txt" -}}
        {{- $changelog = . -}}
    {{- end -}}
{{- end -}}

{{- /* Find first version line: ## [X.Y.Z] - YYYY-MM-DD */ -}}
{{- $version := "" -}}
{{- range split $changelog "\n" -}}
    {{- if hasPrefix . "## [" -}}
        {{- $line := . -}}
        {{- $start := index (split $line "[") 1 -}}
        {{- $version = index (split $start "]") 0 -}}
        {{- break -}}
    {{- end -}}
{{- end -}}

{{- $version -}}
