name: Deploy to AWS

on:
  # Manual trigger
  workflow_dispatch:
  
  # Automatic trigger on push to main
  push:
    branches:
      - main
    paths:
      - 'website/**'
      - '.github/workflows/deploy.yml'

permissions:
  id-token: write   # Required for OIDC
  contents: write   # Required to create releases
